@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix autofill background color in dark mode */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #1f2937 inset !important; /* Tailwind dark:bg-gray-800 */
  -webkit-text-fill-color: #ffffff !important; /* white text */
  transition: background-color 5000s ease-in-out 0s;
}


*{
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

*::-webkit-scrollbar {
  display: none;
}